name: Hybrid Deployment (AWS + LocalStack + Ngrok)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deployment:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Start LocalStack
        run: |
          docker run -d --name localstack_main -p 4566:4566 -p 4510-4559:4510-4559 -v /var/run/docker.sock:/var/run/docker.sock localstack/localstack

      - name: Get LocalStack IP
        id: get-localstack-ip
        run: |
          LOCALSTACK_IP=$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' localstack_main)
          echo "LOCALSTACK_URL=http://${LOCALSTACK_IP}:4566" >> $GITHUB_ENV

      - name: Debug LOCALSTACK_URL
        run: |
          echo "URL de LocalStack: $LOCALSTACK_URL"

      - name: Wait for LocalStack
        run: |
          until curl -s $LOCALSTACK_URL/_localstack/init | grep -q '"READY": true'; do
            echo "Waiting for LocalStack to be ready..."
            sleep 2
          done

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip jq

      - name: Download and Install Ngrok
        run: |
          mkdir -p $HOME/ngrok
          curl -L https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-linux-amd64.tgz -o $HOME/ngrok/ngrok.tgz
          tar -xvzf $HOME/ngrok/ngrok.tgz -C $HOME/ngrok
          chmod +x $HOME/ngrok/ngrok
          echo "$HOME/ngrok" >> $GITHUB_PATH
          $HOME/ngrok/ngrok version

      - name: Authenticate Ngrok
        run: |
          $HOME/ngrok/ngrok authtoken ${{ secrets.NGROK_AUTH_TOKEN }}

      - name: Start Ngrok
        run: |
          nohup $HOME/ngrok/ngrok http 5000 &  # Cambia a 5000

      - name: Get Ngrok URL
        id: get-ngrok-url
        run: |
          sleep 10
          NGROK_URL=$(curl --silent http://127.0.0.1:4040/api/tunnels | jq -r '.tunnels[0].public_url')
          echo "NGROK_URL=${NGROK_URL}" >> $GITHUB_ENV

      - name: Deploy to AWS + LocalStack
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
          AWS_DEFAULT_REGION: us-east-1
          LOCALSTACK_URL: ${{ env.LOCALSTACK_URL }}
          NGROK_URL: ${{ env.NGROK_URL }}
        run: |
          python src/deployment.py | tee deployment_output.txt

      - name: Run API tests
        run: |
          echo "Executing API tests in Python script..."
          python tests/test_api.py
